*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 25px;
  line-height: 1.6;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header | main content | footer */
  min-height: 100vh;
}


/* Header styling */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7a5103;
  padding: 10px 20px;
  gap: 60px;
}


.logo {
  height: 80px;
  width: auto;
}

/* Title */
h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav a:hover {
    color: #000000;
    transition: ease-in-out 0.3s;
}       

/* Footer styling */

footer {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-color: #000000;
    color: #ffffff;
    padding: 40px 20px;
    font-size: 0.55rem;
}

/* Main content styling */

main {
  flex: 1;
}

.cover {
  width: 100%;              /* full width of container */
  max-height: 250px;        /* limits the height */
  object-fit: cover;        /* crop/fill nicely while keeping aspect ratio */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

article {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}